@model IList<SurveyResult>
@{
    ViewData["Title"] = "FavoriteParks";
}

<h2 id="FavoriteParkHeader">FavoriteParks</h2>

<h6><strong>Thank you for submitting. Here is a list of the favorite Parks.</strong></h6>

<table id="FavoriteParkTable" class="table">
    @foreach (var surveyResult in Model)
    {

        <tr>
        <td><a asp-controller="home" asp-action="detail" asp-route-parkcode="@surveyResult.ParkCode"><img src="~/images/parks/@(surveyResult.ParkCode).jpg" alt=" Scenic View of Park" /></a></td>
        <td><a asp-controller="home" asp-action="detail" asp-route-parkcode="@surveyResult.ParkCode">
    <h3>@surveyResult.ParkName</h3></a>
    Total Surveys: @surveyResult.Count
</td>
        </tr>
    }
</table>